
body {
    background-color:#000;
}

header{
    z-index:900;
    height:70px;
    width:100%;
    display:block;
    background-color:#000;
    color:#fff;

    
}

header h1{
    z-index:999;
    font-size:1.8em;
    position:absolute ;
    left:15%;
    top:-10px;
    
}

#b{
   font-size:2em;
   position:absolute;
  left:5%;
   top:-10%;
   
}

#page1:hover #page1a{
      transform:rotate(45deg) translateY(-20%) translateX(0%);
      transition:2s;
}
#page1:hover #page1b{
      transform:rotate(45deg) translateY(-90%) translateX(-220%);
      transition:2s;
}
#page1:hover .p1{
    color:#fff;
    margin-top:300px;
    transition:2s;
}

#page1:hover #h1{
    left:0;
    transition-delay:3s;
    transition:2s;
}

#page1{
     height:250px;
     width:95%;
     background-image:url("https://c4.wallpaperflare.com/wallpaper/509/341/261/action-battlefield-battlefield-4-game-wallpaper-preview.jpg");
     background-position:center;
     background-size:cover;
     margin:auto;
     overflow:hidden;
     border-radius:20px;
     color:red;
}

#page1 h1{
    color:red;
    font-size:2em;
    position:absolute;
    margin-left:50px;
    margin-top:100px;
}

#page1a{
    height:500px;
    width:70%;
    background-color:black;
    transform:rotate(45deg) translateY(-20%) translateX(-130%);
    margin:auto;
}


#page1b{
    
    height:500px;
    width:70%;
    background-color:black;
    transform:rotate(45deg) translateY(-90%) translateX(-200px);
    margin:auto;
}

#h1{
    position:absolute ;
    color:red;
    top:0;
    left:-100%;
}

.p1{
    
    position:absolute ;
    max-width:300px;
    top:-100px;
    color:#fff;
    font-size:1.8em
    padding:5px;
    margin-left:10px;
}







