
body {
    background-color:#000;
    
}

header{
    z-index:900;
    height:70px;
    width:100%;
    display:block;
    background-color:#000;
    color:#fff;

    
}

header h1{
    z-index:999;
    font-size:1.8em;
    position:absolute ;
    top:-10px;
    left:15%;
    
}

#b{
   font-size:2em;
   position:absolute;
  left:5%;
   top:10px;
   
}

#page1:hover #page1a{
      transform:rotate(45deg) translateY(-20%) translateX(0%);
      transition:2s;
}
#page1:hover #page1b{
      transform:rotate(45deg) translateY(-90%) translateX(-220%);
      transition:2s;
}
#page1:hover .p1{
    color:#fff;
    margin-top:300px;
    transition:2s;
}

#page1:hover #h1{
    left:0;
    transition-delay:3s;
    transition:2s;
}

#page1{
     height:250px;
     width:95%;
     background-image:url("https://c4.wallpaperflare.com/wallpaper/509/341/261/action-battlefield-battlefield-4-game-wallpaper-preview.jpg");
     background-position:center;
     background-size:cover;
     margin:auto;
     overflow:hidden;
     border-radius:20px;
     color:red;
}

#page1 h1{
    color:red;
    font-size:2em;
    position:absolute;
    margin-left:50px;
    margin-top:100px;
}

#page1a{
    height:500px;
    width:70%;
    background-color:black;
    transform:rotate(45deg) translateY(-20%) translateX(-130%);
    margin:auto;
}


#page1b{
    
    height:500px;
    width:70%;
    background-color:black;
    transform:rotate(45deg) translateY(-90%) translateX(-200px);
    margin:auto;
}

#h1{
    position:absolute ;
    color:red;
    top:0;
    left:-100%;
}

.p1{
    
    position:absolute ;
    max-width:300px;
    top:-100px;
    color:#fff;
    font-size:1.8em
    padding:5px;
    margin-left:10px;
}

#page2{
    position:relative;
    height:310px;
    width:100%;
    margin-top:20px;
    margin-bottom:20px;
    border-bottom:3px solid purple;
}

#page2word{
    float:right;
    height:100px;
    width:50%;
    background-color:;
}

#page2word h1{
 color:red; 
 font-size:1.5em; 
 text-transform:uppercase ; 
 text-align:center;
}

#img1{ 
    position:absolute;
    z-index:3;
    margin-top:20px;
    margin-left:-20px;
    transform:scale(0.8);
}

#page2word p{
    font-size:1em;
    color:#fff;
    padding:5px;
}

#page2show{
    
}

#cv{
    float:right;
    margin-top:50px;
    
}

#page2:hover #img1{
    transform:scale(1.1);
    transition:2s;
}

#page3{
    
    overflow:hidden;
    height:320px;
    width:100%;
}

#img3{
  position:absolute ;
  max-height:300px;
  transform:scale(0.8);
  
    
}



#page3word{
    position:absolute ;
    height:200px;
    width:100%;   
    margin-top:20px;
    margin-bottom:20px;
    border-bottom:3px solid purple;
    overflow:hidden;
    
}

#page3word p{
    position:relative ;
    color:#fff;
    padding:5px;
    max-width:360px;
    top:500px;
    
}
#page3word h1{
    color:red;
    text-transform:uppercase;
    text-align:center;
    margin-left:-1000px;
}

#page3:hover #page3word h1{
    transition:2s;
    margin-left:0px;
}

#page3:hover #page3word p{
   transition:2s; 
   top:0px;
}

#page3:hover #img3{
   transition:2s;
    transform:scale(1);
}

#page4{
    position:relative;
    height:310px;
    width:100%;
    margin-bottom:20px;
    background-color:#000;
    
}

#img4{
    float:left;
    transform:scale(1.5);
    margin-left:25px;
}

#page4word{
    float:right;
    margin-top:-200px;
    height:100%;
    width:50%;
    padding:5px;
    color:#fff;
}

#page4word h1{
    color:red;
}

#page4cover{
    position:absolute;
    margin-top:-50px;
    margin-left:-500px;
    height:310px;
    width:100%;
}

#page4:hover #page4cover{
    margin-left:0px;
    transition:2s;
}

#page5{
    margin-top:-50px;
    height:310px;
    width:100%;
    overflow:hidden;
    margin-bottom:20px;
    border-radius:25px;
}

#page5word{
    color:#fff;
    text-align:center;
    position:relative;
}

#page5:hover #page5word{
    margin-top:-250px;
    transition:2s;
}

#page5word h1{
    text-transform:uppercase ;
    text-align:center;
}

#page5word a{
    font-size:1.5em;
    font-weight:bold;
    text-align:center;
    color:blue;

}

#page6{
    margin-top:0px;
    height:310px;
    width:100%;
    overflow:hidden;
    margin-bottom:20px;
    border-radius:25px;
}

#page6word{
    color:red;
    text-align:center;
    position:relative;
}

#page6:hover #page6word{
    margin-top:-250px;
    transition:2s;
}

#page6word h1{
    text-transform:uppercase ;
    text-align:center;
}

#page6word a{
    font-size:1.5em;
    font-weight:bold;
    text-align:center;
    color:blue;

}


  #page7{
    margin-top:0;
    height:310px;
    width:100%;
    overflow:hidden;
    margin-bottom:20px;
    border-radius:25px;
}

#page7word{
    color:#fff;
    text-align:center;
    position:relative;
}

#page7:hover #page7word{
    margin-top:-250px;
    transition:2s;
}

#page7word h1{
    text-transform:uppercase ;
    text-align:center;
}

#page7word a{
    font-size:1.5em;
    font-weight:bold;
    text-align:center;
    color:blue;

}
            
#about{
    height:250px;
    padding:8px;
    border-radius:20px 20px 0 0;
    width:95%;
    background-color:#111;
    color:#fff;
    margin:auto;
    text-align:center;
    overflow:hidden;
    
}

#about:hover #we{
   margin-top:-220px;
   transition:2s;
   
}

#about:hover .index{
    opacity:0;
}

hr{
    background-color:#000;
    border:none;
    border-radius:25px;
    height:5px;
    width:45px;
}

#we{
    margin-top:-1000px;
    height:250px;
    border-radius:20px 20px 0 0;
    width:95%;
    
    
}






